{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<h1>Say friend and enter</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Pass">
</form>
<br>
<h3>
Enter the secret phrase you have been told about.
</h3>
  <p>Be advised that permits are reserved for employees with offices on the premises.<br>Only employees of the selectable departments are eligible.</p>
  <p>We don't store any data on our servers.</p>
  <p>In order to monitor activity and permit count, an eMail is sent to the a@b.c and c@b.d upon permit generation containing the entered data.</p>
  <p>Contact <a href="mailto:a@b.c?Subject=Parking Permit Generator">a@b.c</a> in case of issues or questions.</p>
{% endblock %}
