{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<h1>New Permit</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Generate">
</form>
{% endblock %}
