{% extends "base_generic.html" %}
{% load static %}

{% block content %}
  <img src="{% static 'generator/img/cat.png' %}" style="width:555px;height:540px;">
  <h1>Parking Permit Generator</h1>
  <h2>{{tickets_generated}} permits have been given out so far for this year</h2>
  <p>Be advised that permits are reserved for employees with offices on the premises.<br>Only employees of the selectable departments are eligible.</p>
  <p>We don't store any data on our servers.</p>
  <p>In order to monitor activity and permit count, an eMail is sent to the a@b.c and c@b.d upon permit generation containing the entered data.</p>
  <p>Contact <a href="mailto:a@b.c?Subject=Parking Permit Generator">a@b.c</a> in case of issues or questions.</p>
{% endblock %}
