{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Parking Permit</title>
  <meta charset="utf-8">
</head>
<style type="text/css">
  @page {
    size: A4;
    background-color:blueviolet;
    background-image: url("{% static 'permit/background.png' %}");
    background-repeat: no-repeat;
    background-size: cover; 
    margin: 0;
  }
  .phone_number_1 {
    font-family: Sans-Serif;
    position: absolute;
/*    text-shadow: 2px 2px #ff0000; currently not supported by weasyprint stable, althought there is an unlikely PR, but we don't really need it that much anyway */
    text-align: center;
    right: 32%;
    width: 120%;
    top: 35%;
    font-size: 36pt;
    transform: rotate(-90deg);
  }
  .phone_number_2 {
    font-family: Sans-Serif;
    position: absolute;
    text-align: center;
    width: 120%;
    left: 32%;
    top: 35%;
    font-size: 36pt;
    transform: rotate(90deg);
  }
  .text_block {
    font-family: Sans-Serif;
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 1%;
    font-size: 40pt;
  }
  .name {
    font-size: 28pt;
  }
  .department {
    font-size: 32pt;
    font-weight: bold;
  }
  .plate_label {
    font-size: 18pt;
  }
  .plate {
    font-weight: bold;
    font-size: 60pt;
  }
  .permit_id_1 {
    font-family: Sans-Serif;
  }
  .tel {
    font-size: 32pt;
  }
</style>
<body>
  <div class ="permit_id_1">{{ permit_id }}</div>
  <div class="phone_number_1">Tel.: {{ office_phone_number }} &nbsp {{ mobile_phone_number }}</div>
  <div class="phone_number_2">Tel.:  {{ office_phone_number }} &nbsp {{ mobile_phone_number }}</div>
  <div class="text_block">
    <span class="name">{{ contact_name }}</span><br>
    <span class="department">{{ department_name }}</span><br>
    <span class="plate">{{ registration_plate }}</span><br>
    <span class="tel">Tel.: {{ office_phone_number }} &nbsp {{ mobile_phone_number }}</span>
  </div>
</body>

</html>