{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Parking Permit</title>
  <meta charset="utf-8">
</head>
<style type="text/css">
  @page {
    size: "A4";
    margin: 2cm;
  }
  .img1 {
    width:50%;
	float:left;
  }
  .img2 {
    width:50%;
	float:left;
  }
  #pageframe{
	width:100%;
  }
  img{
    max-width:100%;
  }
</style>
<body>
<div id="pageframe">
  <div class="img1"><img src="REALLY_DIRTY_HACK"></div>
  <div class="img2"><img src="REALLY_DIRTY_HACK"></div>
</div>
</body>
</html>